html, body, .docs-story {
    background-color: #515448;
}

.page.lists-show {
    min-height: 100vh;
    background: white;
}

.page.lists-show nav {
    background: #ebffbaa1;
    padding: 1rem 1.25rem;
}

.wrapper-message {
    position: absolute;
    top: 45%;
    right: 0;
    bottom: auto;
    left: 0;
    width: auto;
    height: auto;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
}

.page.lists-show nav .title-page {
    font-size: 20px;
    line-height: 24px;
    line-height: 2rem;
    cursor: pointer;
    white-space: nowrap;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 800;
    color: #1c3f53;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.list-items {
    position: relative;
    background: white;
    min-height: 288px;
}
.list-item {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 3rem;
    width: 100%;
    background: white;
    transition: all ease-out 150ms;
}
.list-item:hover {
    background-color: #ebffba;
}
.list-item:hover .checkbox {
    cursor: pointer;
}
.list-item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1;
}
input[type="text"]{
    font-size: 14px;
    line-height: 20px;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: 400;
    padding: 0.75rem 0;
    line-height: 1.5rem !important;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #333;
    outline: none;
}
.checkbox input[type="checkbox"] {
    font-size: 1em;
    visibility: hidden;
}
.checkbox input[type="checkbox"] + span:before {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 0.85em;
    height: 0.85em;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background: transparent;
    box-shadow: #8dc700 0 0 0 1px inset;
    content: "";
    display: block;
}
.list-item input[type="text"] {
    background: transparent;
    width: 100%;
}
.checkbox {
    display: inline-block;
    height: 3rem;
    position: relative;
    vertical-align: middle;
    width: 44px;
}

.list-item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1;
}
.list-item + .list-item {
    border-top: 1px solid #f0f9fb;
}
.list-item.TASK_PINNED .pin-button svg{
    fill: #8dc700;
}
.list-item.TASK_ARCHIVED input[type="text"] {
    color: #4a5568;
    text-decoration: line-through;
    }
button {
    cursor: pointer;
    appearance: button;
}
.pin-button {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    text-align: center;
    transition: all 200ms ease-in;
    color: #eee;
    font-size: 16px;
    line-height: 3rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pin-button svg{
    height: 16px;
    fill: #cecccc;
}
.pin-button:hover svg{
    fill: #8dc700;
}